<div class="row">
  <div class="col">
    <h1>Checkers Game: <span id="player"><%= @game %></span></h1>
    <script>
      window.gameName = "<%= @game %>";
      window.userName = "<%= @current_user.email %>";
    </script>

    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>
