<h1>Checkers Game</h1>

<div class="row">
  <div class="col">
    <h1 id="index-page">Join a Game</h1>
    <p><input type="text" id="game-input"></p>
    <p><a href="" id="nameLink">Join</a></p>
  </div>
</div>
